<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "layouts/form" %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <td>
            <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %><br />
            <%= link_to @user.name, user_path(@user) %>
          </td>
          <td>
            <%= @book.title %>
          </td>
          <td>
            <%= @book.body %>
          </td>
          <% if @user.id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path, class:"btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-danger", data: { confirm: "本当に削除してもよろしいですか？" } %></td>
          <% end %>
          <% if @book.favorited_by?(current_user) %>
            <td>
              <%= link_to book_favorites_path(@book), method: :delete, class: "fas fa-heart", style: "color: red;" do %>
                <%= @book.favorites.count %>
              <% end %>
            </td>
          <% else %>
            <td>
              <%= link_to book_favorites_path(@book), method: :post, class: "far fa-heart" do %>
                <%= @book.favorites.count %>
              <% end %>
            </td>
          <% end %>
          <td>コメント数: <%= @post_com.count %></td>
        </tbody>
      </table>
      <div class="com">
        <% @post_com.each do |pc| %>
          <td>
            <%= attachment_image_tag User.find(pc.user_id), :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %>
            <%= link_to User.find(pc.user_id).name, user_path(pc.user_id) %>
          </td>
          <td><%= pc.comment %></td>
          <% if current_user.id == pc.user_id %>
            <td><%= link_to "Destroy", book_book_comment_path(pc.book_id, pc.id), method: :delete, class:"btn btn-sm btn-danger" %></td>
          <% end %>
          <br/>
          <br/>
        <% end %>
      </div>
      <div class="form">
        <%= form_with model: [@book, @comment], local:true, method: :post do |f| %>
          <%= f.text_area :comment, class:"form-control w-100" %><br />
          <%= f.submit "送信", class:"btn btn-sm btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>